<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Filament | Index</title>
</head>
<body>
    <h1>filament index here</h1>
    <a href="/filament/new">Create New Filament</a>
</br>
<div class="all-items">
    <% for (let i = 0; i < filaments.length; i++) { %>
        <div class="item">
        <a href="/filament/<%= filaments[i].id %>">
        <p>
            <div class="item-details">
                <%= filaments[i].color %>
                <%= filaments[i].brand %>
                <%= filaments[i].type %>
        </div>
            <img src="<%= filaments[i].img %>">
    </br>
            Stock: <%= filaments[i].stock %>kg
        </p>
        </a>
    </div>
    <% } %>
</div>
</body>
</html>