<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <title>Filament | Index</title>
</head>
<body>
    <header>
        <h2 id="printer-catalog">Filament Catalog</h2>
            <p id="username">Welcome, <%= currentUser.username %></p>
            <form action="/sessions?_method=DELETE" method="POST">
                <input id="log-out" type="submit" value="Log Out" class="btn-small red" />
            </form>
            <a id="create-new" href="/filament/new">Create New Filament</a>
    </header>
    <main>
    <h1 id="index">Filament Index</h1>
</br>
<div class="all-items">
    <% for (let i = 0; i < filaments.length; i++) { %>
        <a href="/filament/<%= filaments[i].id %>">
        <div class="item">
        <p>
            <img src="<%= filaments[i].img %>">
    </br>
        <div class="item-details">
            <%= filaments[i].color %>
            <%= filaments[i].brand %>
            <%= filaments[i].type %>
    </br>
            <% if (filaments[i].stock > 0) { %>
                Stock: <%= filaments[i].stock %>kg
            <% } else { %>
                Out of Stock
            <% } %>
        </div>
        </p>
        </div>
        </a>
    <% } %>
</div>
    </main>
</body>
</html>