<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filament | Index</title>
</head>
<body>
    <h1>filament index here</h1>
    <a href="/filament/new">Create New Filament</a>
</br>
    <% for (let i = 0; i < filaments.length; i++) { %>
        <a href="/filament/<%= filaments[i].id %>">Details</a>
        <p>
            Type: <%= filaments[i].type %>
</br>
            Brand: <%= filaments[i].brand %>
</br>
            Color: <%= filaments[i].color %>
</br>
            Img: <%= filaments[i].img %>
</br>
            Temperature: <%= filaments[i].temperature %>
</br>
            Speed: <%= filaments[i].speed %>
</br>
            Link: <%= filaments[i].link %>
        </p>
    <% } %>
</body>
</html>