<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page</title>
</head>
<body>
    <a href="/filament/<%= filament.id %>/edit">Edit Filament</a>
    <p>
        Type: <%= filament.type %>
</br>
        Brand: <%= filament.brand %>
</br>
        Color: <%= filament.color %>
</br>
        <img src="<%= filament.img %>">
</br>
        Temperature: <%= filament.temperature %>
</br>
        Speed: <%= filament.speed %>
</br>
        Link: <%= filament.link %>
    </p>
    <form action="/filament/<%= filament.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
    <a href="/filament">Back</a>
</body>
</html>