<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/show.css">
    <title>Display Page</title>
</head>
<body>
        <header>
                <%- include ('./partials/header.ejs') %>
        </header>
        <main>
    <a href="/filament/<%= filament.id %>/edit">Edit Filament</a>
    <p>
        Type: <%= filament.type %>
</br>
        Brand: <%= filament.brand %>
</br>
        Color: <%= filament.color %>
</br>
        <% if (filament.stock > 0) { %>
                Stock: <%= filament.stock %>kg
        <% } else { %>
                Out of Stock
        <% } %>
</br>
        <img src="<%= filament.img %>">
</br>

        Temperature: <%= filament.temperature %>
</br>
        Speed: <%= filament.speed %>
</br>
        Link: <a href="<%= filament.link %>" target="_blank">Buy More</a>
    </p>
    <form action="/filament/<%= filament.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
    <a href="/filament">Back</a>
        </main>
</body>
</html>