<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/show.css">
    <title>Display Page</title>
</head>
<body>
        <header>
                <%- include ('./partials/header.ejs') %>
        </header>
        <main>
        <a href="/filament">Back</a>
<div class=item>
        <img src="<%= filament.img %>">
</br>
<div class="details">
        <p>Type: <%= filament.type %></p>
        <p>Brand: <%= filament.brand %></p>
        <p>Color: <%= filament.color %></p>
        <% if (filament.stock > 0) { %>
                <p>Stock: <%= filament.stock %>kg</p>
        <% } else { %>
                <p>Out of Stock</p>
        <% } %>
        <p>Temperature: <%= filament.temperature %></p>
        <p>Speed: <%= filament.speed %></p>
        <p>Link: <a href="<%= filament.link %>" target="_blank">Purchase</a></p>
</div>
</div>
<div class="buttons">
        <a href="/filament/<%= filament.id %>/edit">Edit Filament</a>
        <form action="/filament/<%= filament.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
</div>
        </main>
</body>
</html>