<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Page</title>
</head>
<body>
    <p>
        Type: <%= filament.type %>
</br>
        Brand: <%= filament.brand %>
</br>
        Color: <%= filament.color %>
</br>
        Img: <%= filament.img %>
</br>
        Temperature: <%= filament.temperature %>
</br>
        Speed: <%= filament.speed %>
</br>
        Link: <%= filament.link %>
    </p>
</body>
</html>