<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/show.css">
    <title>Display Page</title>
</head>
<body>
        <header>
                <h2 id="printer-catalog">Filament Catalog</h2>
                <p id="username"><%= currentUser.username %></p>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input id="log-out" type="submit" value="Log Out" class="btn-small red" />
                </form>
                <a id="return-link" href="/filament">Return to Index</a>
        </header>
        <main>
        <h2 id="title"><%= filament.color %> <%= filament.brand %> <%= filament.type %></h2>
<div class=item>
        <img src="<%= filament.img %>">
</br>
<div class="details">
        <p class="line">Type: <%= filament.type %></p>
        <p class="line">Brand: <%= filament.brand %></p>
        <p class="line">Color: <%= filament.color %></p>
        <% if (filament.stock > 0) { %>
                <p class="line">Stock: <%= filament.stock %>kg</p>
        <% } else { %>
                <p class="line">Out of Stock</p>
        <% } %>
        <p class="line">Hotend Temperature: <%= filament.hotendTemperature %>°C</p>
        <p class="line">Bed Temperature: <%= filament.bedTemperature %>°C</p>
        <p class="line">Print Speed: <%= filament.speed %>mm/s</p>
        <p class="line">Retraction Distance: <%= filament.retractionDistance %>mm</p>
        <p class="line">Retraction Speed: <%= filament.retractionSpeed %>mm/s</p>
        <p class="line"><a href="<%= filament.link %>" target="_blank">Purchase Link</a></p>
</div>
</div>
<div class="buttons">
        <button id="edit"><a id="edit-link" href="/filament/<%= filament.id %>/edit">Edit Filament</a></button>
        <form action="/filament/<%= filament.id %>?_method=DELETE" method="POST">
        <input id="delete" type="submit" value="DELETE">
      </form>
</div>
        </main>
</body>
</html>